.button {
  background-color: #446eaf;
  border-radius: 5px;
  color: #fff;
  padding: 10px 20px;
  border: none;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  cursor: pointer;
}

.button:hover {
    background-color: #244f92;
  }
.button:disabled {
    background-color: #a4a4a7;
    cursor: auto;
}
