.footer {
    background-color: #446eaf;
    padding: 45px 0;
    font-family: Helvetica, sans-serif;
}

.footer__content {
    height: 100%;
    box-sizing: border-box;
    max-width: 960px;
    padding: 0 10px;
    margin: 0 auto;
    font-size: 14px;
    color: #fff;
    text-align: center;
}
.footer__logo {
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    color: #244f92;
}
